<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecule Design</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Molecule Design</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-center">Molecule Design App</h1>
          <hr>
          <p class="text-center">Lorem ipsum </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ url_for('static', filename='img/mol.jpg.jpg') }}" class="img-fluid">
        </div>
        <div class="col-md-6">
          <form class="form" id="design-form">
            <div class="form-group">
              <label for="prop1">Property 1:</label>
              <input type="text" class="form-control" id="prop1" name="prop1" placeholder="Enter property 1" required>
            </div>
            <div class="form-group">
              <label for="prop2">Property 2:</label>
              <input type="text" class="form-control" id="prop2" name="prop2" placeholder="Enter property 2" required>
            </div>
            <div class="form-group">
              <label for="prop3">Property 3:</label>
              <input type="text" class="form-control" id="prop3" name="prop3" placeholder="Enter property 3" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Generate Molecule</button>
          </form>
        </div>
      </div>
    </div>

    <

